*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
}
main{
    margin-top: 3rem;
}
.container{
    /* max-width: 800px; */
    margin:auto;
}
svg{
    width: 100%;
}
/* GENERALI */
.btn1{
    color:#1f3041;
    background-color: white;
    border-radius: 10em;
    padding: .5rem;
    font-style: none;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
/* Nav menu */
header{
    background-color: #0084FD;   
}
.nav-menu{
    color: white;
    text-decoration: none;
    
}
ul{
    list-style: none;
    display: flex;
    column-gap: 10px;
}
.nav-menu{
    color: white;
}
.menu{
    max-width: 1100px;
    margin: auto;
    height: 5rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .hamburger{
    color: white;
}
/* SEZIONE 1 */
.sezione1{
    padding-bottom: 3rem;
}
.sezione1 .container{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 1rem;
}
.sezione1 h2{
    color: #0084FD;
}
.blocco{
    background-color: #B5DDFF;
    max-width: calc((100%/3) - 10px);
    border-radius: 15px;
    text-align: center;
    padding: 1rem 2rem;
}
.blocco1{
    background-color: #B5DDFF;
    max-width: calc(((100%/3)* 2 ) - 10px);
    border-radius: 15px;
    display: flex;
    position: relative;
    padding: 0 3rem;  
}
.blocco1 .imgb{
    width: 195px;
}
.blocco1 p{
    margin-bottom: 2rem;
}
.btn2{
    background-color: #0084FD;
    color: white;
    padding: .5rem 2rem;
    border-radius: 10em;
    text-decoration: none;
}
.blocco1 h2{
    flex-basis: 100%;
    color: #0084FD;
}
.imageb1{
    display: flex;
    align-items: flex-end;
}
.ico{
    max-width: 100%;
    width:50px;
    height: 50px;
    margin: auto;
    color: #0084FD;
    
}
/* SEZIONE 2  */
.sezione2{
    background-color: #9593E6;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.sezione2 .container{
    max-width: 900px;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 10px;
    
}
.col1, .col2{
    max-width: calc(100% / 2);
    
}
.col1 p{
    color:white;
    margin-top: 2rem ;
}
.col1 h2{
    color: white;
    margin-top: 2rem;
}
.col2{
    text-align: center;
    background-color: white;
    border-radius: 2em;
    padding: 2rem 2rem;
    align-self: flex-end;
}
.col2 p{
    font-style: italic;
    font-weight: 400;
    line-height: 1.8em;
}
div.ico{
    background-color: #9593E6;
    color: white;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgc1{
    width: 250px;
}
.imgc2{
    width: 150px;
}
/* SEZIONE 3 */
.sezione3 .container{
    max-width: 900PX;
    text-align: center;
    padding: 0 1rem;
}
.sezione3 h3, h2, p{
    margin-top: 1.5rem;
}
.sezione3 h2{
    color: #9593E6;
    font-size: 2rem;
}
.card{
    display: flex;
    gap: 30px;
    margin-top: 3rem;
    background-color: #9593E6;
    border-radius: 35px;
    text-align: left;
    padding: 2rem 1rem;
    color: white;
}
.nome{
    margin-top: 1rem;
    font-weight: 500;
}
.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    flex: 0 0 20%;
}
.card p::before{
    content: '\f10d';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
.card p::after{
    content: '\f10e';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
/* SEZIONE 4 */
.sezione4{
    background-color: #9593E6;
    margin: 2rem 0;
}
.sezione4 h2{
    color: white;
    font-size: 2rem;
    margin: 2rem 0;
}
.sezione4 .container{
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 2rem 0;

}
.points-card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content:center;
    justify-content: center;
   
}
.point{    
    background-color: white;
    border-radius: 1rem;
    width: calc((100% / 3 ) - 10px);
    padding: 1rem 1.5rem;
    text-align: left;
    
    
}
.point div{
    font-size: 4rem;
    font-weight: 600;
    color: #9593E6;
}
.point h4{
    color: #9593E6;
}
.point p{
    margin-bottom: 2rem;
}
.btnv{
    color: white;
    background-color: #9593E6;
    padding: .5rem 2rem;
    border-radius: 10rem;
    text-decoration: none;
}
/* SEZIONE 5 */
.sezione5{
    padding-bottom: 5rem;
}
.sezione5 h2{
    font-size: 3rem;
    margin-bottom: 0rem;
    color: #9593E6;
    padding-top: 2rem;
    
}
.sezione5 .container{
    display: flex;
    max-width: 900px;
}
.text{
    
    max-width: calc((100% / 3) * 2) ;
}
.image{
    color: #9593E6;
    max-width: calc(100% / 3);
    padding-top: 2rem;
}
.image img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
}
.image img::after{
    content: '\f10d';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
.image i{
    color: white;
}
.image a{
    padding: .5rem 1rem;
}
.image h4{
    margin-bottom: 1rem;
}
.btns5{
    background-color: #9593E6;
    padding: 1rem .7rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 10em;
    width: 100%;
}
/* SEZIONE 6 */
.sezione6{
    background-color: #9593E6;
    padding: 3rem 0;
}
.sezione6 .container{
    max-width: 900px;
    text-align: center;
    color: white;
}
.sezione6 h4{
    font-weight: 400;
}
.sezione6 h3{
    font-size: 2rem;
}
.sezione6 h2{
    font-size: 4rem;
    color:#FDC05D;
}
.sezione6 p{
    margin: auto;
    margin-bottom: 3rem;
}
.btnw{
    padding: 1.5rem 4rem;
    color: #9593E6;
    text-decoration: none;
    background-color: white;
    border-radius: 10rem;
    
}
.sezione6 div{
    margin-top: 3rem;
}
.privacy{
    color: white;
}
/* FOOTER */
footer{
    background-color: #333333;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
footer .container{
    text-align: center;
    color: #ededed;
    max-width: 600px;
    padding-left: 2rem;
    padding-right: 2rem;
}
footer p{
    margin-bottom: 3rem;
   
}
footer a{
    color: #9593E6;
}
/* DESKTOP */
@media screen and (min-width: 811px) {
    header .hamburger{
        display: none;
    }
    .menu{
        width: 100%;
    }
}
/* TABLET */
@media all and (max-width: 810px) {
    header ul{
        display: none;
        }
        .blocco1, .blocco{
            width: 100%;
        }
        .blocco1{
            flex-wrap: wrap;
        }
        .blocco1 .imgb {
            margin-top: 1rem;
            width: 155px;
          }
          /* sezione2 */
          .sezione2 .container{
            max-width: 768px;
            flex-wrap: wrap;
            justify-content: center;
          }
          .col1, .col2{
            width: 100%;
          }
          /* sezione 4 */
          .point{
            width: calc((100% / 2) - 10px);
        }
        /* sezione 5 */
        .sezione5 .container{
            display: flex;
            margin: auto;
            max-width: 768px;
            flex-wrap: wrap;
            padding-left: 2rem;
            padding-right: 2rem;
        
        }
        .text{
    
            max-width: calc((100% / 3) * 2);
        }
        .image{
            color: #9593E6;
            max-width: calc(100% / 3);
            padding-top: 2rem;
        }
        /* sezione 6 */
        .sezione6 .container{
            max-width: 768px;
            text-align: center;
            color: white;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        footer .container{
            text-align: center;
            color: #ededed;
            max-width: 600px;
            padding-left: 2rem;
            padding-right: 2rem;
        }
}
/* TELEFONO */
@media all and (max-width: 576px) {
    header ul{
        display: none;
    }
    
    /* sezione1 */
    .sezione1 .container{
        max-width:400px ;
    }
    .blocco1, .blocco{
        max-width: 100%;
    }
    .blocco1{
        flex-wrap: wrap;
    }
    .blocco1 .imgb {
        margin-top: 1rem;
        width: 155px;
      }

    
    /* sezione 3 */
    .card{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    /* sezione 4 */
    .points-card{
        max-width: 480px;
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .point{
        width: calc(100% - 10px);
    }

    /* sezione 5 */
    .sezione5 .container{
        display: flex;
        margin: auto;
        max-width: 480px;
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text{
    
        max-width: 100%;
    }
    .image{
        color: #9593E6;
        max-width: 100%;
        padding-top: 2rem;
    }
    /* sezione 6 */
    .sezione6 .container{
        max-width: 480px;
        text-align: center;
        color: white;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    footer .container{
        text-align: center;
        color: #ededed;
        max-width: 480px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
    
